window {
  margin: 0px;
  padding: 0px;
  background-color: rgba(25, 23, 36, 0.9);
  border-radius: 20px;
  border: 2px solid #ebbcba;
  color: #e0def4;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
}

#input {
  margin: 10px 20px 0px 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #ebbcba;

}
#inner-box {
  margin: 5px 15px 5px 15px;
  border: none;
}

#outer-box {
  margin: 5px;
  padding: 15px;
  border: none;
  border-radius: 20px;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #e0def4;
}

#entry {
  border-radius: 10px;
}

#entry arrow {
  border: none;
  color: #ebbcba;
}

#entry:selected {
  border: 0.11em solid #ebbcba;
  background-color: #191724;
}

#entry:selected #text {
  color: #ebbcba;
  background-color: #191724;
}

#entry:drop(active) {
  #background-color: #ebbcba !important;
}
